.fr24
  .container
    .row.flex-column
      h1.d-flex.justify-content-center.fr24__title Самолеты вблизи аэропорта Домодедово
      .d-flex.justify-content-center.fr24__subtitle (координаты аэропорта 55.410307°, 37.902451°)
      .justify-content-center.mt-5.p-2.fr24__messagebox
    .row
      .fr24__content
        .fr24-app